<!DOCTYPE html>
<html>
    <head>
        <title>Restaurants</title>
    </head>
    <body>
        <ul>
            <% for (let i in r) { %>
                <li> <%= r[i] %> - <%= a[i] %> </li>
            <% } %>
        </ul>
    </body>
</html>
