<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <form action = "/user/search" method = "POST">
            <input type = "text" name = "city" placeholder = "Enter City">
            <input type = "submit" name = "submit" value = "Search">
        </form>
    </body>
</html>
    